<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Técnica | Pregunta Repo">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="./images/action.png">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <title>Técnica | Pregunta Repo</title>
    </head>
    <body>
        <header>
            <div class="header__title">
                <h1>Pregunta Repo</h1>
                <figure>
                    <img src="../images/question.png" alt="logo de pregunta">
                </figure>
            </div>
            <h2>Preguntas y respuestas para todos</h2>
            <h3>Registra tus datos y lanza tu pregunta,</h3>
            <h3>en esta maravillosa comunidad te ayudaremos a resolverla.</h3>
            <h3>Todo dentro de un marco de respeto y solidaridad.</h3>
        </header>
        <main>
            <section class="question">
                <h2 class="title__section">
                    REGISTRA TU PREGUNTA
                </h2>
                <form action="/" id="addQuestion">
                    <input type="email" id="email" placeholder="Tu correo electrónico" required>
                    <input type="text" id="name" placeholder="Tu nombre completo" required>
                    <textarea name="question" id="question" cols="20" rows="10" placeholder="Digita en este campo de forma clara y respetuosa tu pregunta" required></textarea>
                    <select name="category" id="category" required>
                        <option value="">Selecciona Una Categoría</option>
                        <option value="Técnica">Técnica</option>
                        <option value="Legal">Legal</option>
                        <option value="Administrativa">Administrativa</option>
                        <option value="Económica">Económica</option>
                    </select>
                    <button>
                        Enviar Pregunta
                    </button>
                </form>
            </section>
            <section class="content" id="content">
                <h2 class="title__section">
                    FEED | CATEGORÍA TÉCNICA
                </h2>
            </section>
            <section class="information">
                <div class="information__categories">
                    <h2 class="title__section">
                        CATEGORÍAS
                    </h2>
                    <div class="category">
                        <div class="title">
                            <h3>
                                <a href="/front/views/tecnica.html" class="y">Técnica</a>
                            </h3>
                        </div>
                        <div class="info">
                            <h5>
                                <span id="tecnica"></span>
                                preguntas
                            </h5>
                            <div class="logo">
                                <figure>
                                    <img src="../images/screwdriver.png" alt="logo de categoria Técnica">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <div class="title">
                            <h3>
                                <a href="" class="p">Legal</a>
                            </h3>
                        </div>
                        <div class="info">
                            <h5>
                                <span id="legal"></span>
                                preguntas
                            </h5>
                            <div class="logo">
                                <figure>
                                    <img src="../images/legal-paper.png" alt="logo de categoria Legal">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <div class="title">
                            <h3>
                                <a href="" class="g">Administrativa</a>
                            </h3>
                        </div>
                        <div class="info">
                            <h5>
                                <span id="administrativa"></span>
                                preguntas
                            </h5>
                            <div class="logo">
                                <figure>
                                    <img src="../images/administrator.png" alt="logo de categoria Administrativa">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <div class="title">
                            <h3>
                                <a href="" class="r">Económica</a>
                            </h3>
                        </div>
                        <div class="info">
                            <h5>
                                <span id="economica"></span>
                                preguntas
                            </h5>
                            <div class="logo">
                                <figure>
                                    <img src="../images/dollar.png" alt="logo de categoria Económica">
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="information__last">
                        <h2 class="title__section">
                            ULTIMA PREGUNTA
                        </h2>
                        <div class="info">
                            <p id="lastQuestion"></p>
                            <a href="#content" class="hide">Ver Pregunta</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="../logic/tecnica.js"></script>
    </body>
</html>
