:root{
    margin: 0;
}

body{
    background-color: #F3F3F3;

}

header{
    text-align: center;
}

main{
    display: flex;
    justify-content:space-around;
}

.question{
    // position: relative;
    // left: 0;
    & form{
        position: fixed;
        display: flex;
        flex-direction: column;
    }
}

.information{
    &__categories{
        & h2{
            margin: 10px 0;
        }
        & .category{
            & h3{
                margin: 0;
            }
            & .info{
                display: flex;
                align-items: center;
            }
            & .logo{
                & figure{
                    & img{
                        width: 30px;
                    }
                }
            }
            & h5{
                margin: 0;
            }
        }
    }
    // position: absolute;
    // right: 0;
}

.content{
    & .questions{
        background-color: #fff;
        &__data{
            & .data-name{
                margin: 0;
            }
            & .data-category{
                margin: 0;
            }
            & .data-date{
                margin: 0;
            }
        }
        &__question{
            margin: 0 0 20px 0;
        }
        &__data{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    & .answers{
        background-color: #fff;
        &__data{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & .data-name{
                margin: 0;
            }
            & .data-date{
                margin: 0;    
            }
        }
        &__answer{
            margin: 0 0 20px 0;
        }
    }
    & .form__answers{
        & form{
            display: flex;
            flex-direction: column;
        }
    }
    // display: block;
}