:root{

}

body{
    // margin: 0;
}

header{
    text-align: center;
}

main{
    display: flex;
    justify-content:space-around;
}

.question{
    // position: relative;
    // left: 0;
    & form{
        position: fixed;
        display: flex;
        flex-direction: column;
    }
}

.information{
    &__categories{
        & .category{
            & .info{
                display: flex;
                align-items: center;
            }
        }
    }
    // position: absolute;
    // right: 0;
}

.content{
    & .questions{
        &__data{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    & .answers{
        &__data{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    // display: block;
}